<html lang="kk">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Құпия сөзді қалпына келтіру</title>
        <style>
            body { font-family: 'Arial', sans-serif; background-color: #0d1b42;
            color: white; text-align: center; padding: 50px; } .container {
            background-color: #0d1b42; border: 1px solid #2b3f75; padding: 20px;
            } h1 { color: #ffffff; font-size: 24px; } p { color: #c7d3f4; }
            .button { display: inline-block; padding: 10px 20px; margin: 20px 0;
            background-color: #e07a1f; color: #0d1b42; text-decoration: none;
            font-weight: bold; border-radius: 5px; } .footer { font-size: 12px;
            color: #4f5d85; }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Құпия сөзді қалпына келтіру сұранысы</h1>
            <p>Құпия сөзіңізді қалпына келтіру үшін төмендегі батырманы басыңыз:</p>
            <a href="{{link}}" class="button">Құпия сөзді қалпына келтіру</a>
            <p>Егер сіз құпия сөзді қалпына келтіруді сұрамасаңыз, бұл хатты
                елемеңіз немесе қауіпсіздік туралы өз алаңдаушылығыңыз бен
                сұрақтарыңыз бойынша байланысуыңызды сұраймыз.</p>
            <div class="footer">
                <p>Көмек қажет пе? Біздің қолдау тобымен байланысыңыз</p>
            </div>
        </div>
    </body>
</html>